# Enforce LF for all text files
* text=auto eol=lf

# Ensure specific Flutter files use LF
**/*.cc text eol=lf
**/*.h text eol=lf
**/*.cmake text eol=lf
**/*.dart text eol=lf
**/*.yaml text eol=lf
**/*.json text eol=lf

# Treat binary files as binary (no line ending conversion)
*.png binary
*.jpg binary
*.ico binary
*.ttf binary
